doctype html
html
  head
    title= title
  body
    div(id = 'item-page' roomId = roomId)
      div(id = 'Photos')
      div(id = 'hostedBy')
      div(id = 'calendarWidget')
      script(type='text/javascript' src='http://localhost:2000/photos.js')
      script(type='text/javascript' src='http://localhost:2000/calendarwidget.js')
      script(type='text/javascript' src='http://localhost:2000/hostedBy.js')