doctype html
html
  head
    title= title
  body
    div(id = 'item-page' roomId = roomId)
      div(id = 'listingHeader' class='module')
      div(id = 'Photos')
      div(class = 'module')
        div(id = 'hostedBy')
        div(id = 'listingDescription')
      div(id = 'calendarWidget' class='module')
      script(type='text/javascript' src='http://18.117.79.8:2000/photos.js')
      script(type='text/javascript' src='http://13.58.29.30:2002/calendarwidget.js')
      script(type='text/javascript' src='http://3.141.196.223:5001/listingHeader.js')
      script(type='text/javascript' src='http://3.141.196.223:5001/listingDescription.js')
      script(type='text/javascript' src='http://3.141.196.223:5001/hostedBy.js')